<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.5/phpunit.xsd"
        bootstrap="Tests/bootstrap.php"
        executionOrder="depends,defects"
        forceCoversAnnotation="true"
        beStrictAboutCoversAnnotation="true"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutTodoAnnotatedTests="true"
        verbose="true"
>
    <testsuites>
        <testsuite name="Unit tests">
            <directory suffix="Test.php">Tests/Unit</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <file>./SentryComponent.php</file>
            <file>./SentryLogRoute.php</file>
        </whitelist>
    </filter>
</phpunit>
